<title>My application deployed automatically</title>
<h1>Method Result</h1>
Your result is {{result}}

<p>
    This app sorts the strings lexicographically and finds the k'th order statistic in the integer arrays.
    If the k'th order statistic of the first array is greater than or equal to that of the second array, it returns true. Otherwise, it returns false.
</p>

<form action="compute" method="post">
    <label for="list">List1:</label>
    <textarea id="list" name="list" rows="10" cols="10"></textarea>

    <label for="list2">List2:</label>
    <textarea id="list2" name="list2" rows="10" cols="10"></textarea>

    <label for="strList">String list:</label>
    <textarea id="strList" name="strList" rows="10" cols="10"></textarea>

    <label for="k">K:</label>
    <textarea id="k" name="k" rows="10" cols="10"></textarea>

    <br>
    <input type="submit">
</form>